contourpy==1.3.0
cycler==0.12.1
fonttools==4.53.1
grew==0.5.1
grewpy==0.5.2
importlib_metadata==8.5.0
kiwisolver==1.4.7
lark==1.2.2
matplotlib==3.9.2
numpy==2.1.1
packaging==24.1
pillow==10.4.0
platformdirs==4.3.2
pyparsing==3.1.4
python-dateutil==2.9.0.post0
scipy==1.14.1
six==1.16.0
tomli==2.0.1
tqdm==4.66.5
yapf==0.40.2
zipp==3.20.1
